*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

section{
  width: 1000px;
  width: 90%;
  height: 800px;
  background-color: aliceblue;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  /*flex-direction: row-reverse;
  flex-direction: column;
  flex-direction: column-reverse;*/

  flex-wrap: nowrap;
  flex-wrap: wrap;
 /* flex-wrap: wrap-reverse;*/
 /* flex-flow: column wrap;*/
 /* flex-flow: column-reverse wrap;*/
  justify-content: flex-start;
 /* justify-content: flex-end;
  justify-content: center;
  justify-content:space-between ;
  justify-content:space-around ;
  justify-content: space-evenly;*/
 /* align-items: flex-start;*/
 /* align-items: stretch;
  align-items: flex-end;*/
 /* align-items: baseline;*/
 align-content: flex-start;
 /*align-items: flex-end;
 align-items: center;
 align-items: space between;
 align-items: space around;
 align-items: space evenly;
 align-items:stretch;*/
 /*gap: 10px;*/



}

section div{
  height: 200px;
  width: 200px;
  background-color: black;
  color: white;
  border: 2px solid salmon ;
  font-size: 30px;
  
}
/*section div:first-child{
  background-color: blue;
  font-size: 75px;*/

/*section div:last-child{
  font-size: 60px;*/

  section div:nth-child(1){
    background-color:red
    /*flex-grow:1*/
  flex: 2 3 250px;
  }
  section div:nth-child(2){
    background-color: aquamarine;
   /* flex-grow:2 */
   align-self:flex-end ;
   
  }
  section div:nth-child(3){
    background-color: chartreuse;
   /* flex-grow:1 */
  /* flex-shrink: 4;*/
  /*flex-basis:400px ;*/

  }

